<script>
    quotes = [
      "<div style='color:gray'>发挥才智，则锋芒毕露；凭借感情，则流于世俗；坚持己见，则多方掣肘。<span style='color:green;font-weight: bold'>总之，人世难居。</span></div>",
      "<div style='color:gray'>「世界の中心でアイを叫んだけもの」</div>",
      "<div style='color:gray'>爱上<span style='color:darkred;font-weight: bold'>一匹野马</span>，可我的家里没有<span style='color:green;font-weight: bold'>草原</span>。</div><div style='color:gray'>这让我感到绝望，董小姐。--<span style='color:black;font-weight: bold'>《董小姐》</span></div>",
      "<div style='color:gray'>这是个拥挤的地方，而我却<span style='color:darkgreen;font-weight: bold'>很平凡</span>。</div>",
      "<div style='color:gray'><span style='color:darkred;font-weight: bold'>Lolita,</span> light of my life, fire of my loins. <br>My sin, my soul. <br><span style='color:darkred;font-weight: bold'>Lo-lee-ta:</span> the tip of the tongue taking a trip of three steps down the palate to tap, at three, on the teeth. <span style='color:green;font-weight: bolder'>Lo. Lee. Ta.</span></div>",
      "<div style='color:gray'>She was <span style='color:darkred;font-weight: bold'>Lo,</span> plain <span style='color:darkred;font-weight: bold'>Lo,</span> in the morning, standing four feet ten in one sock. <br>She was <span style='color:darkred;font-weight: bold'>Lola</span> in slacks. She was <span style='color:darkred;font-weight: bold'>Dolly</span> at school. <br>She was <span style='color:darkred;font-weight: bold'>Dolores</span> on the dotted line. <br><span style='color:darkred;font-weight: bolder'>But...</span></div>",
      "<div style='color:gray'>“男女同权”的要义，不是让女人变得像男人一样，也不是让弱者变成强者。<br><span style='color:green;font-weight: bold'>“男女同权”追求的是，让弱者以弱者的姿态获得尊重。</spin></div>",
      "<div style='color:gray'>金箍戴上之后，你再也不是个凡人，人世间的<span style='color:darkred;font-weight: bold'>情欲</span>再也不能沾半点，如果动心，这个金箍就会在你头上越收越紧，<span style='color:green;font-weight: bold'>苦不堪言。<span></div>",
      // "<div style='color:gray'></div>",
      // "<div style='color:gray'></div>",
    ];
    var quote = quotes[Math.floor(Math.random() * quotes.length)];
    document.getElementById("quote").innerHTML = quote;
  </script>