<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/header" . }}
    <section class="article-details">
        <div id="busuanzi_container_page_pv">
            本文总阅读量<span id="busuanzi_value_page_pv"></span>次
        </div>
    </section>
    {{ partial "article/components/content" . }}

    {{ partial "article/components/footer" . }}

    {{ if or .Params.math .Site.Params.article.math }}
        {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>